body {
  font-family: "PT Mono", monospace;
  color: #f5feff;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/089/524/original/sky_and_cloud_pic_2_.jpeg?1689198382");
  background-repeat: no-repeat;
}

.wrapper {
  padding: 20px 0;
}
.container {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-height: 490px;
  max-width: 800px;
  margin-top: 60px;
}
.form-control {
  width: 450px;
}
h1,
h3 {
  font-size: 35px;
}
button {
  display: flex;
  margin: 20px auto;
  padding: 10px 20px;
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  color: #f5feff;
  background: #60c8e5;
  border: 1px solid #fff;
}
button:hover {
  background-color: #228ec9;
}

form {
  margin: 10px auto;
  padding: 10px 10px;
}

.weatherIcon {
  font-size: 70px;
  position: relative;
  right: -100px;
  top: -10px;
}

.temperature {
  font-size: 40px;
}

.tempInfo {
  font-size: 13px;
}
.tempInfo:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.active {
  color: #5c5757;
  cursor: default;
  font-size: large;
}
.active:hover {
  text-decoration: none;
}
.units {
  position: relative;
  top: -25px;
  margin-left: -15px;
}
.dayOfWeek {
  text-align: center;
  border: 1px solid #fff;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: #60c8e5;
}

.highTemp {
  font-weight: bold;
  font-size: 18px;
}
.lowTemp {
  color: #5c5757;
}
.githubLink {
  color: #5c5757;
  text-decoration: underline;
}
p {
  text-align: center;
}

@media (max-width: 900px) {
  .form-control {
    width: 330px;
  }
  .container {
    max-height: 100%;
  }
  p {
    color: #000;
  }
  body {
    color: #000;
  }
  button {
    color: #000;
  }
  .weatherIcon {
    top: 20px;
    right: -130px;
  }
  .temperature {
    position: relative;
    top: -225px;
    right: -250px;
  }
  .units {
    position: relative;
    top: -250px;
    right: -250px;
  }
  h7 {
    display: none;
  }
}
