body {
  font-family: "PT Mono", monospace;
  color: #fff;
  background-color: #94b4c7;
}

.wrapper {
  padding: 20px 0;
}
.weather-app {
  min-height: 400px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}
.container {
  background-color: #bbcacf;
  border: solid #fff;
  border-radius: 30px;
  padding: 10px;
  margin: 40px auto;
  font-weight: 200;
  max-height: 490px;
  max-width: 100%;
}

h1,
h3 {
  font-size: 25px;
}
button {
  display: block;
  margin: 20px auto;
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  color: #fff;
  background: #bbcacf;
  border: 1px solid #fff;
}
button:hover {
  background-color: #94b4c7;
}

form {
  margin: 10px auto;
  padding: 10px 10px;
}

.sun-one {
  font-size: 50px;
  position: relative;
  right: -150px;
}
.temperature {
  font-size: 40px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration-line: underline;
}
.units {
  position: relative;
  top: -34px;
}
.tempInfo {
  font-size: 13px;
}
.dayOfWeek1 {
  text-align: center;
  border: 2px solid #94b4c7;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb (231, 234, 246);
  background-color: #94b4c7;
}
.dayOfWeek2 {
  text-align: center;
  border: 2px solid #94b4c7;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb (231, 234, 246);
  background-color: #94b4c7;
}
.dayOfWeek3 {
  text-align: center;
  border: 2px solid #94b4c7;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb (231, 234, 246);
  background-color: #94b4c7;
}
.dayOfWeek4 {
  text-align: center;
  border: 2px solid #94b4c7;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb (231, 234, 246);
  background-color: #94b4c7;
}
.dayOfWeek5 {
  text-align: center;
  border: 2px solid #94b4c7;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb (231, 234, 246);
  background-color: #94b4c7;
}
.dayOfWeek6 {
  text-align: center;
  border: 2px solid #94b4c7;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb (231, 234, 246);
  background-color: #94b4c7;
}
.sun {
  font-size: 50px;
  position: relative;
  top: -10px;
}
.cloud {
  font-size: 50px;
  position: relative;
  top: -10px;
}
.cloud-sun {
  font-size: 50px;
  position: relative;
  top: -10px;
}
.highTemp {
  font-weight: bold;
  font-size: 15px;
}
.githubLink {
  color: #757575;
  text-decoration: underline;
}
p {
  text-align: center;
}
